  <div class="row">
<h1>All Names Greeted</h1>

<div style="padding-bottom: 1em;">
          <form action="/back" method="POST">
              <button class="button-primary resetBtn" on type="submit" name="button3" id="button3" value="button3"
                style="text-align: left;">Back To App</button>
            
      </form>
</div>


<table>
    <tr>
        <td>name</td>
        <td>count</td>
    </tr>
    {{#each actions}}
    <tr>
        <td>{{greet_name}}</td>
        <td>{{greet_count}}</td>
    </tr>
    {{/each}}
</table>
</div>